// Required Parameters
params.reads = "/hsog3/*_{1,2}.fastq.gz"
params.ref = "/hsog3/Pf3D7_all_v3.fasta"
params.outdir = "/hsog3/gatkouts"
params.snpeff_db = "Plasmodium_falciparum"
params.pl = "illumina"
params.pm = "hiseq"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

